{% extends 'base.html' %}
{% load static %}

{% load static %}

{% block title %}
details | {{blog.title}}
{% endblock title %}



{% block content %}
<section class="section">
	<div class="container">
		<article class="row mb-4">
			<div class="col-lg-10 mx-auto mb-4">
				<h1 class="h2 mb-3">{{blog.title}}</h1>
				<ul class="list-inline post-meta mb-3">
					<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="#">{{blog.user.username}}</a>
					</li>
					<li class="list-inline-item">{{blog.created_date}}</li>
					<li class="list-inline-item">Categories : <a href="{% url 'category_blog' blog.category.slug %}" class="ml-1">{{blog.category.title}} </a>
					</li>
					<li class="list-inline-item">Tags : 
                  {% for tag in blog.tags.all %}
                  <a href="#!" class="ml-1">{{tag.title}} </a> 
                  {% endfor %}
					</li>
				</ul>
			</div>
			<div class="col-12 mb-3">
				<div class="post-slider">
               {% for i in blog.blog_images.all %}
					<img src="{{i.image.url}}" class="img-fluid" alt="post-thumb">
               {% endfor %}
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				<div class="content">
					<p>{{blog.description}}</p>
				</div>
			</div>
		</article>
	</div>
</section>
{% endblock content %}
   