{% extends 'base.html' %}
{% load custom_filters %}

{% load static %}

{% block title %}
miniblog |
{% endblock title %}




{% block content %}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  mb-5 mb-lg-0">
                <!-- alert start -->
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <h4 class="text-center"> <b style="color: brown;">{{tag_blogs.count}}</b> results found for <b style="color: brown;">{{ tag_name.title}}</b></h4>
                </div>
                <!-- alert end  -->

                {% for blog in tag_blogs %}
                <article class="row mb-5">
                    <div class="col-12">
                        <div class="post-slider">
                            {% for i in blog.blog_images.all %}
                            <img loading="lazy" src="{{i.image.url}}" class="img-fluid" alt="post-thumb">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 mx-auto">
                        <h3><a class="post-title" href="post-elements.html">{{blog.title}}</a></h3>
                        <ul class="list-inline post-meta mb-4">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i>
                                <a href="author.html">{{blog.user.username}}</a>
                            </li>
                            <li class="list-inline-item">{{blog.created_date}}</li>
                            <li class="list-inline-item">Categories : <a
                                    href="{% url 'category_blog' blog.category.slug %}"
                                    class="ml-1">{{blog.category.title}}
                                </a>
                            </li>
                            <li class="list-inline-item">
                                Tags :

                                {% for tag in blog.tags.all %}
                                <a href="{% url 'tag_blogs' tag.slug %}" class="ml-1">{{ tag.title }}</a> ,
                                {% endfor %}
                            </li>
                        </ul>
                        <p>{{blog.description|limit_characters:300}}</a>
                    </div>
                </article>
                {% endfor %}
            </div>
            
            <aside class="col-lg-4">
                <!-- Search -->
                <div class="widget">
                    <h5 class="widget-title"><span>Search</span></h5>
                    <form action="{% url 'home' %}" class="widget-search" method="GET">
                        <input id="search-query" name="search" type="search" required placeholder="Type &amp; Hit Enter...">
                        <button type="submit"><i class="ti-search"></i>
                        </button>
                    </form>
                </div>
                <!-- categories -->
                <div class="widget">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul class="list-unstyled widget-list">
                        {% for category in categories %}
                        <li><a href="{% url 'category_blog' category.slug %}" class="d-flex">{{category.title}}
                                <small class="ml-auto">{{category.category_blogs.all.count}}</small></a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- tags -->
                <div class="widget">
                    <h5 class="widget-title"><span>Tags</span></h5>
                    <ul class="list-inline widget-list-inline">
                        {% for tag in tags %}
                        <li class="list-inline-item"><a href="{% url 'tag_blogs' tag.slug %}">{{tag.title}}<small class="ml-auto"
                                    style="color: rgb(190, 5, 5);">{{tag.tag_blogs.all.count}}</small></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- latest post -->
                <div class="widget">
                    <h5 class="widget-title"><span>Latest Article</span></h5>
                    <!-- post-item -->
                    {% for blog in tag_blogs|slice:":3" %}
                    <ul class="list-unstyled widget-list">
                        <li class="media widget-post align-items-center">
                            <a href="{% url 'blog_details' blog.slug %}">
                                {% if blog.blog_images.first %}
                                <img loading="lazy" class="mr-3" src="{{ blog.blog_images.first.image.url }}">
                                {% else %}
                                <img loading="lazy" class="mr-3" src="{{ blog.image.url }}">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <h5 class="h6 mb-0"><a href="{% url 'blog_details' blog.slug %}">{{ blog.title }}</a>
                                </h5>
                                <small>{{ blog.created_date|date:"F d, Y" }}</small>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock content %}